body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Cutive Mono', monospace;
}

.title-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-section{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    background-color: #ffc90d;
}

.button-container{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-style{
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    background-color: orange;
    border: 5px solid orange;
    border-radius: 10px;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}